.gradle
build/
generated/
out/
target/
.project
.settings/
classes/
.classpath
bin
java-gen/
diagrams/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

!gradlew.bat

# Cache of project
.gradletasknamecache

.idea
raml-model/buildresources/test/raml-tck-1.1
cache/
