.gradle
build/
generated_*/
out/
target/
.project
.settings/
classes/
.classpath
bin

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

!gradlew.bat

# Cache of project
.gradletasknamecache

.idea
raml-model/buildresources/AnnotationProcessorTests/raml-tck-1.1
cache/
requests.log
composer.lock
rmf-codegen.iml
rmf-codegen.iml
generated-code/build
generated-code/out
generated-code/src/main